/*
blue  #1C9EF0
green #28E365
pink  #E3278C
*/

/* Style */

* {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html {
	background-color: #061D2C;
	background-image: url("../bg.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;	
	height: 100vh;

}

.title {
	color: #EAF6FD;
}

.subtitle {
	color: #EAF6FD;
}

a {
	color: #1C9EF0;
	text-decoration: none;
}

a:hover {
	color: #EAF6FD !important;
}

.primary {
	color: #1C9EF0;	
}

.profile {
	overflow: hidden;
	width: 160px;
	border-radius: 50%;
	border: solid 4px #1C9EF0;
	margin: 0 auto 1rem;
}

.header {
	padding: 5rem 0 0 0;
}

.hero {
	margin: 2rem 0;
	padding: 1rem 0;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
}

.holly {
	overflow: hidden;
	border-radius: 12px;
}