 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p style="text-align: justify">
                        Apaixonado por tecnologia desde criança, publiquei minha primeira página em HTML aos 10 anos de idade. Formado em administração de empresas, fui consultor por mais de 5 anos. 
                        Como desenvolvedor criei aplicativos de Facebook para grandes marcas e sistemas web para empresas de vários portes. Empreendedor desde 2008, trabalhei com redes sociais, e-commerce e apps mobile.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://br.linkedin.com/in/rafaelfukuda/pt" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin-square"></i> Saiba mais
                    </a>
                </div>
            </div>
        </div>
    </section>