 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p style="text-align: justify">
                        {{ site.about }}
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="list-inline item-details">
                    {% for tech in site.skills %}
                    <li class="label label-primary skill">
                      {{ tech }}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://angel.co/rafaelfukuda" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-angellist"></i> Angel List
                    </a>
                    <a href="https://de.linkedin.com/in/rafaelfukuda" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin-square"></i> LinkedIn
                    </a>
                    <a href="https://github.com/rafaelfukuda" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-github-square"></i> Github
                    </a>
                </div>
            </div>
        </div>
    </section>
