 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p style="text-align: justify">
                        I have always been deeply connected to technology. At age 10 I published my first HTML page. Acted as a consultant for more than 5 years and for the past 4 years I have worked with startups. It adds up to more than 10 years of experience in the IT field.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://br.linkedin.com/in/rafaelfukuda/pt" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin-square"></i> Saiba mais
                    </a>
                </div>
            </div>
        </div>
    </section>
